* {
  box-sizing: border-box;
}

/* HTML */

html {
  background-color: rgb(206, 169, 100);
}

/* Heading */

.header {
  font: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  margin-left: -50px;
  margin-right: -50px;
  color: black;
  background-color: rgb(160, 160, 202);
}

#password-container {
  height: 20px;
  position: relative;
  border: none;
}

#password-text {
  height: 60px;
  width: 700px;
  margin: auto;
  margin-top: 160px;
  padding-top: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  background-color: white;
}

.generate-container {
  height: 20px;
  position: relative;
  border: none;
}

#generate {
  height: 30px;
  width: 200px;
  margin: auto;
  margin-top: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copyright {
  text-align: center;
  margin-top: 530px;
}
